<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.study.ppom.article.repository.BoardPageMapper">
	<select id="getGNBList" resultType="CDDto">
		select * from cd where CDKINDID="1" 
	</select>
	
	<select id="getLNBListByGNBId"  parameterType="String" resultType="CDDto">
		select * from cd where CDKINDID=2 and CDVALOPT1=#{clickedCategory}
	</select>
	
	<select id="getArticleListAll" resultMap="boardDtoResultMap">
		select b.BOARDID, b.CATETORYID, b.SUBJECT, b.HITCNT, 
		b.RECOMMENDCNT, b.CREATOR,b.CREATEDATE, b.UPDATEDATE,
		(select d.cdval from cd d where d.cdkindid=1 and d.cdval=c.CDVALOPT1) "gnbid",
		(select d.cdname from cd d where d.cdkindid=1 and d.cdval=c.CDVALOPT1) "gnbname",
		c.CDVAL "lnbid", c.CDNAME "lnbname",
		u.nickName, u.email
		from board b, cd c, userinf u 
		where c.CDKINDID=2 and b.CATETORYID=c.CDVAL and b.CREATOR=u.USERID 
 	</select>	
	
	<select id="getArticleListInLNB" resultMap="boardDtoResultMap">
		select b.BOARDID, b.CATETORYID, b.SUBJECT, b.HITCNT, 
		b.RECOMMENDCNT, b.CREATOR,b.CREATEDATE, b.UPDATEDATE, 
		(select d.cdval from cd d where d.cdkindid=1 and d.cdval=c.CDVALOPT1) "gnbid",
		(select d.cdname from cd d where d.cdkindid=1 and d.cdval=c.CDVALOPT1) "gnbname",
		c.CDVAL "lnbid", c.CDNAME "lnbname",
		u.nickName, u.email 
		from board b, cd c, userinf u 
		where c.CDKINDID=2 and b.CATETORYID=c.CDVAL and b.CATETORYID=#{lnb} and b.CREATOR=u.USERID
	</select>
	
	<select id="getArticleListInGNB" resultMap="boardDtoResultMap">
		select b.BOARDID, b.CATETORYID, b.SUBJECT, b.HITCNT, 
		b.RECOMMENDCNT, b.CREATOR,b.CREATEDATE, b.UPDATEDATE, 
		(select d.cdval from cd d where d.cdkindid=1 and d.cdval=c.CDVALOPT1) "gnbid",
		(select d.cdname from cd d where d.cdkindid=1 and d.cdval=c.CDVALOPT1) "gnbname",
		c.CDVAL "lnbid", c.CDNAME "lnbname",
		u.nickName, u.email 
		from board b, cd c, userinf u
		where c.CDKINDID=2 
				and b.CATETORYID=c.CDVAL 
				and CATETORYID in (select CDVAL from cd where CDVALOPT1=#{gnb})
				and b.CREATOR=u.USERID
	</select>
	
	<resultMap id="boardDtoResultMap" type="BoardDto">
 		<id column="BOARDID" jdbcType="INTEGER" property="boardID" />
 		<result column="CATETORYID" jdbcType="VARCHAR" property="catetoryID" />
 		<result column="SUBJECT" jdbcType="VARCHAR" property="subject" />
 		<result column="HITCNT" jdbcType="VARCHAR" property="hitCNT" />
 		<result column="RECOMMENDCNT" jdbcType="INTEGER" property="recommendCNT" />
 		<result column="CREATOR" jdbcType="INTEGER" property="creator" />
 		<result column="CREATEDATE" jdbcType="TIMESTAMP" property="createDate" />
 		<result column="UPDATEDATE" jdbcType="TIMESTAMP" property="updateDate" />
 		<association property="gnb" column="CATETORYID" javaType="CDDto">
 			<id column="gnbid" jdbcType="VARCHAR" property="cDVal" />
 			<result column="gnbid" jdbcType="VARCHAR" property="cDVal" />
 			<result column="gnbname" jdbcType="VARCHAR" property="cDName" />
 		</association>
 		<association property="lnb" column="CATETORYID" javaType="CDDto">
 			<id column="lnbid" jdbcType="VARCHAR" property="cDVal" />
 			<result column="lnbid" jdbcType="VARCHAR" property="cDVal" />
 			<result column="lnbname" jdbcType="VARCHAR" property="cDName" />
 		</association>
 		<association property="userinf" column="USERID" javaType="UserDto">
 			<id column="nickname" jdbcType="VARCHAR" property="nickName" />
 			<result column="nickname" jdbcType="VARCHAR" property="nickName" />
 			<result column="email" jdbcType="VARCHAR" property="email" />
 		</association>
 	</resultMap>
</mapper>